server:
  port: 8080

spring:
  datasource:
    username: root
    password: india@123
    url: jdbc:mysql://localhost:3306/BISHNOI_WEDDING
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp